<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title>
        Tic Tac Toe
      </ion-title>
      <ion-button onclick="window.open('https://www.linkedin.com/in/nicholas-marecek-4906b1192','_blank')"><ion-icon name="logo-linkedin"></ion-icon></ion-button>
      <ion-button onclick="window.open('https://github.com/NickMarecek','_blank')"><ion-icon name="logo-github"></ion-icon></ion-button>
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="homePage">
  <app-board></app-board>
</ion-content>
